#head_style { 
	text-align:center;
	font-size:24pt;
	}

#body_style {
	text-align:center;
	font-size:12pt;
	color:#3296FF
	}
body {
	background-color : #C1FF6B
	}
	
h1 { 
	text-align:center;
	font-size:24pt;
	}

p {
	text-align:center;
	font-size:12pt;
	color:#3296FF
	}